.container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 70%;
    min-width: 680px;
    margin: auto;
}


.card{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "image" "description" "properties";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    margin: 10px;
}

.image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.image img{
    max-width: 100%;
}

.description{
    grid-area: description;
    text-align: start;
    margin: auto 10px;
}

.properties{
    grid-area: properties;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
    align-items: center;
    padding: 10px;
    list-style: none;
}

.genres, .platforms{
    text-align: start;
    margin: auto;

}

.properties h4{
    text-align: center;
}

.properties li{
    margin: 2px 0;
}

.properties div{
    height: -webkit-fill-available;
}

