.container{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar{
    flex: 2;
    /* padding: 10px; */
    min-width: 400px;
}

.games{
    flex:7;
    /* padding: 10px; */
}

.videogameList{
    margin: auto;
    padding: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}